{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Place your bids (Period {{ round_in_session }} of
    {{ rounds_per_session }})
{% endblock %}

{% block content %}

        {% include Constants.instructions_template %}

{% if round_in_session != 1 %}
    <div class="card bg-light instructions">
    <div class="card-body">
        You currently have <strong>{{ player_accepted_bids }} bid{% if player_accepted_bids != 1%}s{% endif %} </strong> accepted.
    </div></div>
{% endif %}

<div class="alert alert-info" role="alert">

    <h5>You can place your
{%  if round_in_session != 1 %}
    additional
{% endif %}
        bid here.</h5>

    {% if round_in_session != 1 %} Note that the current <strong>price is {{ price }}</strong>.
        Your additional bid must be higher than the current price.
    <br><br>
    {% endif %}


    {% for field in form %}
    {% if field.name == "bid" %}
        <input id="bid" name="bid" type="number" min={{ price }} required>
     <button name="stop" value=False role="button" class="btn btn-primary btn-right btn-md">


    Submit bid </button>
     {{ form.bid.errors }}

    <br>
    {% elif field.name == "stop" %}

    {% if round_in_session != 1 %}
        If you do not want to place an additional bid, click here:

<button name="stop" value=True role="button" class="btn btn-primary btn-md"
                       onclick="document.getElementById('bid').required = false;"
>Skip bidding for this round </button>
{{ form.stop.errors }}
     {% endif %}
    {% endif %}
    {% endfor %}

    </div>


{#    {{ block.super }}#}
{% endblock %}
