{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your payoff, calculated
{% endblock %}

{% block content %}

    {% include Constants.instructions_template %}

<div class="card bg-light">
    <div class="card-body">

    <p>

        After multiple rounds of bidding in the all-in-auction, you bought
        <strong>{{ player_accepted_bids }} unit{% if player_accepted_bids != 1 %}s{% endif %} </strong>
        at a price of <strong>{{ price }}</strong> per unit.

           <table class="table table-bordered"  style="width:50%">

       <tr>
           <td> A. Endowment </td>
           <td align="right"> {{ endowment }} units </td>
       </tr>
       <tr>
            <td> B. Units bought  </td>
            <td align="right"> {{ player_accepted_bids }} units </td>

        <tr>
            <td> C. Net units sold (A - B) </td>
            <td align="right"> {{ net_units }} units </td></tr>
        <tr>

        <tr>
            <td> D. Final price </td>
            <td align="right"> {{ price }} </td></tr>
                <tr>
            <td> E. Change in cash (C * D) </td>
            <td align="right">{{ cash_change }}  </td></tr>
                <tr>
            <td> F. Profit from land (use B) </td>
            <td align="right"> {{ profit_land }} ECU </td></tr>
        <tr>

        <tr>
            <td><strong> Total profits (E + F)</strong></td>
            <td align="right"><strong> {{ profit }}</strong></td>
       </tr>
    </table>



    </p>

    </div>
</div>


    <br>




{% endblock %}
